body {
  font-family: 'Manrope', sans-serif;
  margin: size(0);
  padding: size(0);
  background-image: url(../images/bg.svg);
  height: 100%;
  background-size: cover;
}

@media only screen and (max-width: size(550)) {
  .form-container {
    background-image: url(#fff);
  }
  .ant-form {
    padding-right: size(40);
  }
}

.main {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.logo {
  display: flex;
  align-items: center;
  margin: size(20);

  &__title {
    font-size: size(14);
    color: var(--form-button-color);
    padding-left: size(5);
    padding-top: size(5);
  }
}

.avatar {
  margin-right: size(30);

  input[type=file] {
    display: none;
  }
}

.form-container {
  margin: auto;
  background-color: var(--pri-background-color);
  min-height: 100%;
  width: size(414);

  &-avatar {
    display: flex;
    justify-content: space-between;

    h2 {
      margin-top: size(30);
    }
  }

  h3 {
    font-size: size(12);
    color: var(--warning-color);
    text-align: center;
  }
}

.ant-form {
  margin-top: size(10);
  padding-left: 30px;
}

Form {
  h2 {
    font-size: size(16);
    color: var(--form-label-color);
    font-weight: 700;
  }

  h5 {
    color: var(--pri-label-color);
    font-size: size(14);
  }

  .ant-form-item {
    display: block;

    ::before, ::after {
      display: none;
    }

    &-children-icon {
      margin-right: size(10);
    }

    .ant-input {
      width: size(320);
      border: none;
      outline: none;
      line-height: size(20);
      border-bottom: size(2) solid var(--form-placeholder-color);

      &-suffix {
        margin: size(0);
        transform: translate(-16px, -5px);
      }

      &-password {
        border: none;
        outline: none;
        right: 10px;
      }

      &-affix-wrapper {
        border: none;
        outline: none;
      }
    }

    label {
      padding-right: size(10);
      line-height: size(18);
      font-size: size(16);
      font-weight: 700;
      color: var(--form-label-color);
    }
  }

  .ant-alert-banner {
    width: size(280);
  } 

  .ant-btn-primary {
    color: var(--pri-background-color);
    border: size(0);
    margin-top: size(10);
    width: size(320);
    height: size(55);
    background-color: var(--form-button-color);
    border-radius: size(10);
    mix-blend-mode: normal;
    cursor: pointer;

    &:hover, &:focus {
      color: var(--pri-background-color);
      background: var(--form-button-color);
    }
  }

  a {
    color: var(--form-button-color);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: var(--form-button-color)
    }
  }
}

.welcome__container {
  padding: size(30);

  .welcome__header {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: size(20);
      font-weight: 700;
    }

    .anticon {
      padding-top: size(10);
    }
  }

  &__greeting {
    font-size: size(40);
    font-weight: 900;
    padding-top: size(100);
  }

  &__content {
    font-size: size(18);
    font-weight: 700;
  }

  &__box {
    display: flex;
    justify-content: space-evenly;
  }

  &__image {
    margin-top: size(30);
    border-radius: size(30);
    width: size(150);
    height: size(200);
  }
}