:root {
  --pri-background-color: #fff;
  --background-color: #E5E5E5;
  --pri-label-color: #333333;
  --form-label-color: #777777;
  --form-button-color: #FF385C;
  --form-placeholder-color: #C8C8C8;
  --warning-color: #ff0000
}
